<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/get_cv/reset.css">
    <style>
        body section{
            min-width:650px;
        }
    </style>
    <title>myCv</title>
</head>
<body style="display:flex; flex-wrap:wrap; width:100%;">
    <% var personalData = JSON.parse(outputData).personaldata; %>
    <% if (personalData && personalData.length > 0) { %>
    <div id="personaldata" style="border:1px solid black; padding:1rem; min-width: 1500px;">
        <ul>
            <% personalData.forEach(function(personal) { %>
                <li>
                    <img src="<%= '/' + personal.img_destination %>" alt="" style="width:150px; height:200px;">
                </li>
                <li>
                    <p>firstname: <%= personal.firstname %></p>
                    <p>lastname: <%= personal.lastname %></p>
                </li>
                <li>
                    <p>Email: <%= personal.email %></p>
                </li>
                <li>
                    <p>Phone: +<%= personal.phone_country  %> <%= personal.phone %></p>
                </li>
            <% }) %>
            <% } else { %>
                <p>No personal data available.</p>
            <% } %>
        </ul>
    </div>
    <section>
    <% var knowledge = JSON.parse(outputData).knowledge; %>
    <% if (knowledge && knowledge.length > 0) { %>
        <% knowledge.forEach(function(knowledgeRecord) { %>
        <div id="knowledge" style="border:1px solid black; padding:1rem;">
            <ul>
                    <li>
                        <p>knowledge_name: <%= knowledgeRecord.knowledge_name %></p>
                    </li>
                    <li>
                        <p>knowledge_type: <%= knowledgeRecord.knowledgetype_id %></p>
                        <p>knowledge_name: <%= knowledgeRecord.schooltype_id %></p>
                    </li>
                    <li>
                        <p>start_date_knowledge: <%= knowledgeRecord.start_date_knowledge %></p>
                        <p>end_date_knowledge: <%= knowledgeRecord.end_date_knowledge %></p>
                    </li>
                    <li>
                        <p>description: <%= knowledgeRecord.description %></p>
                    </li>
            </ul>
        </div>
            <% }) %>
    <% } else { %>
                <p>No knowledge data available.</p>
    <% } %>
        
    </section>
    <section>
        <% var experience = JSON.parse(outputData).experience; %>
        <% if (experience && experience.length > 0) { %>
            <% experience.forEach(function(jobRecord) { %>
            <div id="job" style="border:1px solid black; padding:1rem;">
                <ul>
                        <li>
                            <p>job_name: <%= jobRecord.job_name %></p>
                        </li>
                        <li>
                            <p>job_start_date: <%= jobRecord.start_date_job %></p>
                            <p>job_end_date: <%= jobRecord.end_date_job %></p>
                        </li>
                </ul>
            </div>
                <% }) %>
        <% } else { %>
                    <p>No job data available.</p>
        <% } %>
            
    </section>
    <section>
        <% var skill = JSON.parse(outputData).skill; %>
        <% if (skill && skill.length > 0) { %>
            <% skill.forEach(function(skillRecord) { %>
            <div id="skill" style="border:1px solid black; padding:1rem;">
                <ul>
                        <li>
                            <p>skill_name: <%= skillRecord.skill_name %></p>
                        </li>
                        <li>
                            <p>skill_level: <%= skillRecord.level %></p>
                        </li>
                </ul>
            </div>
                <% }) %>
        <% } else { %>
                    <p>No skill data available.</p>
        <% } %>
            
    </section>
    <section>
        <% var hobby = JSON.parse(outputData).hobby; %>
        <% if (hobby && hobby.length > 0) { %>
            <% hobby.forEach(function(hobbyRecorrd) { %>
            <div id="hobby" style="border:1px solid black; padding:1rem;">
                <ul>
                        <li>
                            <p>hobby_name: <%= hobbyRecorrd.hobby_name %></p>
                        </li>
                </ul>
            </div>
                <% }) %>
        <% } else { %>
                    <p>No hobby data available.</p>
        <% } %>
            
    </section>
    <section>
        <% var link = JSON.parse(outputData).link; %>
        <% if (link && link.length > 0) { %>
            <% link.forEach(function(linkRecord) { %>
            <div id="link" style="border:1px solid black; padding:1rem;">
                <ul>
                        <li>
                            <p>link_url: <%= linkRecord.link_url %></p>
                        </li>
                        <li>
                            <p>link_name: <%= linkRecord.link_name%></p>
                        </li>
                </ul>
            </div>
                <% }) %>
        <% } else { %>
                    <p>No link data available.</p>
        <% } %>
            
    </section>
</body>
</html>